<template>
  <div class="editor flex flex-col justify-center items-center">
    <client-only>
      <base-editor-menu :editor="editor"></base-editor-menu>
      <editor-content class="shadow-md" :editor="editor" />
    </client-only>
    <div class="rounded shadow-md bg-gray-200 p-4 mt-2">
      Insert image:
      <input id="image-upload" type="file" />
    </div>
    <div class="rounded shadow-md bg-gray-200 p-4 mt-2">
      {{ html }}
    </div>
  </div>
</template>

<script>
import { Editor, EditorContent } from 'tiptap'
import {
  Bold,
  Italic,
  Underline,
  Heading,
  Focus,
  HardBreak,
  History,
  OrderedList,
  BulletList,
  ListItem,
  TrailingNode,
} from 'tiptap-extensions'
import CustomImage from '@/editor-extensions/CustomImage'
import CustomImagePlugin from '@/editor-extensions/CustomImagePlugin'

function upload(file) {
  const formData = new FormData()
  formData.append('file', file)

  console.log(formData)

  return 'https://homepages.cae.wisc.edu/~ece533/images/cat.png'
}

export default {
  name: 'base-editor',

  components: {
    EditorContent,
  },

  data() {
    return {
      editor: null,
      html: null,
      json: null,
    }
  },

  mounted() {
    this.editor = new Editor({
      content: `
        <p>This is just a boring paragraph</p>
        <img src="https://homepages.cae.wisc.edu/~ece533/images/airplane.png" width="30%"></img> 
      `,

      onUpdate: ({ getJSON, getHTML }) => {
        this.json = getJSON()
        this.html = getHTML()
      },

      extensions: [
        new Bold(),
        new Italic(),
        new HardBreak(),
        new History(),
        new OrderedList(),
        new BulletList(),
        new ListItem(),
        new Heading({ levels: [1, 2] }),
        new Underline(),
        new CustomImage(),
        new CustomImagePlugin(upload),
        new Focus({
          className: 'ring ring-yellow-500',
        }),
        new TrailingNode({
          node: 'paragraph',
          notAfter: ['paragraph'],
        }),
      ],
    })
  },

  beforeDestroy() {
    this.editor.destroy()
  },
}
</script>

<style>
.editor > div {
  width: calc(210mm + 1rem);
}

.ProseMirror {
  @apply p-2;
}

.ProseMirror-focused {
  @apply focus:outline-none focus:ring focus:border-blue-300;
}
</style>
