<template>
  <button :class="classes" @click="$emit('click', $event)">
    <template v-if="icon">
      <base-icon :active="active">{{ icon }}</base-icon>
    </template>
    <template v-else>
      <slot></slot>
    </template>
  </button>
</template>

<script>
export default {
  name: 'base-btn',

  props: {
    active: {
      required: false,
      type: Boolean,
    },

    icon: {
      required: false,
      type: String,
      default: '',
    },
  },

  computed: {
    iconClasses() {
      if (this.icon) {
        return {
          'focus:text-blue-500': true,
          'focus:outline-none': true,
        }
      }

      return {}
    },

    classes() {
      return {
        ...this.iconClasses,
      }
    },
  },
}
</script>
