<template>
  <editor-menu-bar v-slot="{ commands, isActive }" :editor="editor">
    <div>
      <base-btn icon="format-bold" :active="isActive.bold()" @click="commands.bold"></base-btn>
      <base-btn icon="format-italic" :active="isActive.italic()" @click="commands.italic"></base-btn>
      <base-btn icon="format-underline" :active="isActive.underline()" @click="commands.underline"></base-btn>
      <base-btn icon="keyboard-return" :active="isActive.hard_break()" @click="commands.hard_break"></base-btn>
      <base-btn
        icon="format-header-1"
        :active="isActive.heading({ level: 1 })"
        @click="commands.heading({ level: 1 })"
      ></base-btn>
      <base-btn icon="format-list-bulleted" :active="isActive.bullet_list()" @click="commands.bullet_list"></base-btn>
      <base-btn icon="format-list-numbered" :active="isActive.ordered_list()" @click="commands.ordered_list"></base-btn>
      <base-btn icon="undo" @click="commands.undo"></base-btn>
      <base-btn icon="redo" @click="commands.redo"></base-btn>
    </div>
  </editor-menu-bar>
</template>

<script>
import { EditorMenuBar } from 'tiptap'

export default {
  name: 'base-editor-menu',

  components: {
    EditorMenuBar,
  },

  props: {
    editor: {
      required: true,
      type: Object,
    },
  },
}
</script>
