<template>
  <i :class="classes"></i>
</template>

<script>
import _ from 'lodash'

const SIZE_LIST = ['xs', 'sm', 'base', 'lg', 'xl', '2xl', '3xl', '4xl']

export default {
  name: 'base-icon',

  props: {
    active: {
      required: false,
      type: Boolean,
    },

    size: {
      required: false,
      type: String,
      default: '2xl',
      validator(value) {
        return _.includes(SIZE_LIST, value)
      },
    },
  },

  computed: {
    classes() {
      return {
        mdi: true,
        [`text-${this.size}`]: true,
        'transition-colors': true,
        'text-yellow-500': this.active,
        [`mdi-${this.$slots.default[0].text}`]: true,
      }
    },
  },
}
</script>
