<template>
  <main class="p-5 bg-blue-50 h-full">
    <Nuxt />
  </main>
</template>

<style>
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* hack author https://gist.github.com/deeja/37dc1c4e7f6873133a9cbd70d8230b8d */
div#__nuxt,
#__layout,
#__layout > main,
#app {
  min-height: 100vh;
}
</style>
